@import "../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Open+Sans:ital,wght@0,400;1,300;1,700&display=swap");

.navbar {
  width: 100vw;
  min-height: 80px;
  margin-bottom: 30px;
  @include flexCenter(space-between, row);

  &__title {
    margin: 20px;
    color: #05386b;
    font-weight: 700;
    @include fontSize(32px);
    font-family: "Open-Sans", sans-serif;
    font-style: italic;
  }
  &__watch-list {
    margin: 20px;
    @include fontSize(32px);
    font-weight: 300;
    text-decoration: none;
    color: #05386b;
  }
}
